html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 300vh;
    font-family: Helvetica, arial, sans-serif;
    background-color: #161616;
}

/* CURSOR */
.cursor,
.follow {
    z-index: 10;
    position: fixed;
    pointer-events: none;
    width: 0.4em;
    height: 0.4em;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}
.cursor {
    background-color: #f5f5f5;
    border-radius: 100%;
}
.follow {
    padding: 1em;
    border: 0.1em solid #f5f5f5;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
}
.follow.on-focus {
    transform: translate(-0.55rem, -0.55rem);
    border: 0.1rem solid #f5f5f5;
    border-radius: 0%;
    padding: 0.46rem;
}

/* PAGE LOAD */
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 20;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0px;
    height: 1px;
    overflow: hidden;
    background: #f5f5f5;
}
.pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: absolute;
    z-index: 20;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #161616;
}
.pace.pace-inactive {
    display: none;
}
#preloader {
    width: 100%;
    height: 100vh;
    z-index: 19;
    background: #f5f5f5;
    overflow: hidden;
    position: fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.175, 1);
    animation: pageload 4s;
    animation-iteration-count: 1;
}
.p {
    position: absolute;
    top: 46%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%,-50%);
    color: #f5f5f5;
    font-size: 3.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #161616, -1px -1px 0px #161616, -1px 1px 0px #161616, 1px -1px 0px #161616;
}
@keyframes pageload {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}

/* FOOTER ---------------------------------------------------------------------------------------*/
footer {
    z-index: 5;
    max-width: 100%;
    min-width: 100%;
    position: relative;
    background-color: #f5f5f5;
    height: 5vh;
}
.footer-txt {
    z-index: 6;
    position: relative;
    font-size: 1em;
    color: #161616;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
}